.container {
  margin-bottom: 50px;
}

.content {
  text-align: center
}

.card-box {
  float: left;
  margin: 10px;
  width: 100px;
  height: 130px;
}

.back {
  font-size: 50px;
  color: white;
  background: black;
  text-align: center;
}

.front {
  background: black;
}

.intro {
  padding-bottom: 150px;
  text-align: center;
}

.intro h1{
  font-size: 80px
}

.devfest-img {
  width: 100px
}

.front {
  width: 100px;
  height: 150px;
}

.back {
  width: 100px;
  height: 150px;
}

footer{
  background: #3b3b3b;
  text-align: center;
  height: 900px;
}
footer a {
  color: green;
  font-size: 80px;

}

footer a:hover {
  text-decoration: none;
  color: lightgreen;
}
