<div class="content" ng-controller='BeginnerCtrl as beginner'>
  <h1>Hello Beginner!</h1>
  <h3>aka Noob!</h3>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Back</a></p>
  <div ng-repeat="(key, ascii) in beginner.data">
    <div class='card-box unclicked'>
      <div class='front'>
        <img data='{{key}}' class='card devfest-img' alt='devfest' src="images/devfest.jpg">
      </div>
      <div class='back'>
        {{key}} <br/>
        {{ascii}}
      </div>
    </div>
    <div class='card-box unclicked'>
      <div class='front'>
        <img data='{{key}}' class='card devfest-img' alt='devfest' src="images/devfest.jpg">
      </div>
      <div class='back'>
        {{key}} <br/>
        {{ascii}}
      </div>
    </div>
  </div>

  <script>
    $(function($) {
      $(".card-box").flip();
    });
  </script>
</div>
